html, body {
    height: 100%;
    margin: 0px;
}

#dashboard.light {
    background-color: #e0e0e0;
}

#dashboard.dark {
    background-color: #212121;
}

#dashboard.light input {
    background: none;
    box-shadow: none;
    border: none;
    color: black;
    outline: none;
}

#dashboard.dark input {
    background: none;
    box-shadow: none;
    border: none;
    color: white;
    outline: none;
}

input, p {
    font-size: 30px;
    margin: 0px 0px;
}

input.text-bigger, p.text-bigger {
    font-size: 40px;
}

input.text-smaller, p.text-smaller {
    font-size: 20px;
}

input.text-giant, p.text-giant {
    font-size: 50px;
}

input.text-tiny, p.text-tiny {
    font-size: 16px;
}

.first-letter-bigger::first-letter {
    font-size: 35px;
}

.first-letter-uppercase::first-letter {
    text-transform: uppercase;
}

@media (orientation: portrait), (max-height: 600px) {
    input, p {
        font-size: 20px;
    }

    input.text-bigger, p.text-bigger {
        font-size: 25px;
    }

    input.text-smaller, p.text-smaller {
        font-size: 15px;
    }

    input.text-giant, p.text-giant {
        font-size: 30px;
    }

    input.text-tiny, p.text-tiny {
        font-size: 12px;
    }
    

    input.text-smaller-if-portrait, p.text-smaller-if-portrait {
        font-size: 15px;
    }
    
    .first-letter-bigger::first-letter {
        font-size: 25px;
    }
}
